<h1>Orders > Open</h1>

<div class="sub_nav_left">
  <%= @section_nav_item.html_safe %>
</div>

<div class="inner_content">
  <form class="" action="/yordex-ruby/orders/open" method="post">

    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>

    <div class="fieldset-div">
      <label for="">Order ID</label><br/>
      <input type="text" name="order_id" value="">
    </div>

    <br/>
    <input type="submit" name="" value="Open order">
  </form>
</div>

<br clear="all" />
