<h1>Orders > Update</h1>

<div class="sub_nav_left">
  <%= @section_nav_item.html_safe %>
</div>

<div class="inner_content">
  <% if !@order_body.blank? %>
     <pre><%= JSON.pretty_generate(JSON.parse(@order_body)) %></pre>
  <% end %>
</div>

<br clear="all" />
