<h1>Orders</h1>

<div><a href="/orders/create">Create an Order</a></div>
<div><a href="/orders/get">Get an Order</a></div>
<div><a href="/orders/update">Update an Order</a></div>
<div><a href="/orders/open">Open an Order</a></div>
<div><a href="/orders/close">Close an Order</a></div>
<div><a href="/orders/approve">Approve an Order</a></div>
<div><a href="/orders/reject">Reject an Order</a></div>
