/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

._header-nav-inner {
  box-shadow: inset 0 -1px 0 #e4e5e6;
  padding: 15px;
}
._header-nav-menu {
  padding: 10px 25px;
  background-color:#0abfbf;
  color: #fff;
}
  ._header-nav-menu a {
    color: #fff;
  }

  .logo__mark {
      fill: #366CD9;
  }
  .logo__mark--left {
      fill: #8551CC;
  }
  .logo__mark--right {
      fill: #30BFBF;
  }
  .logo__mark--bottom {
      fill: #22A5E6;
  }


.wrapper {
  padding: 15px;
}


label {
    font-weight: bold;
}
